.card {
  width: 720px;
  margin: 0 auto;
  margin-top: 50px;
}

.status {
  margin-bottom: 30px;

  text-align: center;
}

.hole-game {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hole {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 0 15px 30px;
  
  background: #c5c5c5;
  border-radius: 50%;
}

body:hover {
  cursor: url(../img/sledge-hammer.png), auto;
}
